modules = ["python-3.8"]
run = "streamlit run main.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8505
externalPort = 80
